{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier {{ pokemon.name }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
