{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémon{% endblock %}

{% block body %}
    <h1>Liste des Pokémon</h1>
    <ul>
        {% for pokemon in pokemons %}
            <li>
                <strong>
                    <a href="{{ path('pokemon_show', { id: pokemon.id }) }}">{{ pokemon.name }}</a>
                </strong> -
                <a href="{{ path('pokemon_edit', { id: pokemon.id }) }}" class="btn btn-secondary">Modifier</a>
                <form action="{{ path('pokemon_delete', { id: pokemon.id }) }}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
